.label {
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
}

.label.normal {
    background-color: #b8ed82;
    color: #508965;
}

.label.irregular {
    background-color: #dc2626;
    color: white;
}
