.button {
    background-color: #f87171;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 300px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #ef4444;
}

.button.secondary {
    background-color: #e5e7eb;
    color: #374151;
}

.button.secondary:hover {
    background-color: #d1d5db;
}
